.container {
    background-color: black;
    width: 300px;
    color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container div img {
    border-radius: 10px;
}

.container div h2 {
    text-align: center;
    font-size: 16pt;
    margin-bottom: 10px;
}

.container div p {
    text-align: center;
}

.container a {
    color: white;
    background-color: #4557fd;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    
}

.container a:hover {
    background-color: #313da7;
    transition: 300ms ease-in-out;
}

@media only screen and (max-width: 500px) {
    .container {
        height: 420px;
        width: 220px;
    }    

    .container div h2 {
        text-align: center;
        font-size: 12pt;
        margin-bottom: 10px;
    }

    .container div p {
        text-align: center;
        font-size: 10pt;
    }

    .container img {
        width: 180px;
    }
}


  