@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif
}

body::-webkit-scrollbar {
  width: 12px;
  
} 

body::-webkit-scrollbar-thumb {   
  background-color: #4557fd; 

}

body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

.slick-slider {
  margin: 10px;
}

.slick-next:before, .slick-prev:before {
  font-size: 30px;
}

.slick-prev {
  left: -38px;
}

.fade-in {
  opacity: 0; /* Inicia com opacidade 0 */
  animation: fadeInAnimation 1s ease-in forwards; /* Aplica a animação fadeInAnimation */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; /* Opacidade inicial 0 */
  }
  to {
    opacity: 1; /* Opacidade final 1 */
  }
}